*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

button:hover{
    cursor: pointer;
}

@media only screen and (min-width: 601px){
    .nav-desk{
        display: flex;
    }

    .nav-mob{
        display: none;
    }

    .nav div{
        display: none;
    }
}

@media only screen and (min-width: 1024px){

    .user{
        display: flex;
    }

    .nav ul{
        position: absolute;
        top: -15%;
        right: 0;
        transform: translate(0,100%);
    }
  
    .nav div{
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,100%);
    }

    .nav div > a+a{
        margin-left: 20px;
    }
    
    .shoe-types{
        display: none;
    }

    hr{
        display: none;
    }

    #filterBtn{
        display: none;
    }

    #filterBtnDesk{
        display: block;
    }

    .price-sort{
        display: block;
        margin-left: 15px;
        position: relative;
    }

    #sortBtn{
        border: none;
        background-color: white;
        font-size: 1rem; 
    }

    .price-dropdown{
        display: none;
    }

    .price-dropdownShow{
        display: block;
        position: absolute;
        background-color: white;
        right: 0;
        padding: 20px;
        width: 180px;
        text-align: right;
        border-radius: 15px;
        animation: priceDropdown .3s ease;
    }

    @keyframes priceDropdown {
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
    }

    .price-dropdownShow a{
        display: block;
        color: black;
    }

    .price-dropdownShow a+a{
        margin-top: 5px;
    }

    .desk-filters{
        display: block;
        height: 70vh;
        overflow-y: auto;
        padding-right: 5px;
    }

    .desk-filters::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    .desk-filters::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    .desk-filters::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 50px; 
        
    }

    /* Handle on hover */
    .desk-filters::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

    .desk-filters hr{
        display: block;
        margin: 20px 0;
    }

    .desk-filters p{
        font-size: 1rem;
        margin: 0 0 20px 0;
    }

    .wrapper{
        grid-template-columns: auto auto auto;
        width: 90%;
    }

    .item-desc{
        width: 100%;
    }

    .outer-wrapper{
        width: 90%;
    }
}
